{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Already Logged In</h1>
        <p>
            <a href="{% url 'dashboard' %}">Goto Dashboard</a>
        </p>
    {% else %}
        <h1>Log In</h1>
        <p>Enter your login details below or <a href="{% url 'signup' %}">Sign Up instead</a></p>
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">{% csrf_token %}
                {{form.as_p}}
                <input type="hidden" name="next" value="{{ next }}"/>
                <p><input type="submit" value="Log In"></p>
            </form>
            <p><a href="{% url 'password_reset' %}">Forgot Password</a></p>
        </div>
    {% endif %}
    <div class="social">
        <ul>
            <li class="twitter"><a href="{% url 'social:begin' 'twitter' %}">Sign in with Twitter</a></li>
            <li class="google"><a href="{% url "social:begin" "google-oauth2" %}">Login with Google</a></li>
            
        </ul>
    </div>
{% endblock content %}