{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
  <h1>Dashboard</h1>
  {% with total_images=request.user.images_created.count %}
    <p>Welcome to your Dashboard. You have uploaded {{ total_images }} image {{total_images|pluralize }}.</p></p>
  {% endwith %}
  <p>
    Drag the following button to your bookmarks toolbar to upload images from other websites
     <a href="javascript:{% include 'images/upload.js' %}" class="button">Upload it</a></p>

  </p>
 <p>
    <a href="{% url 'profile_update' %}">Update Profile</a> or 
    <a href="{% url 'password_change' %}">Change Password</a>
  </p>
{% endblock content %}