{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock title %}

{% block content %}
  <h1>{{ image.title }}</h1>
  <img src="{{ image.url }}" class="image-detail" alt="">
  {% with total_image_likes=image.users.count  image_likers=image.users.all%}
  <div class="image-info">
    <div>
      <span class="count">
        <span class="total">{{ total_image_likes }}</span>
        like{{ total_image_likes|pluralize }}
      </span>
      <span class="count">
        {{ total_image_views }} view{{ total_image_views|pluralize }}
      </span>
        <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in image_likers %}un{% endif %}like" class="like button">
            {% if request.user not in image_likers %}
              Like
            {% else %}
              Unlike
            {% endif %}
        </a>
    </div>
        {{ image.description|linebreaks }}
    </div>
    <div class="image-likes">
        {% for user in image_likers %}
          <div>
            <img src="{{ user.profile.image.url }}">
            <p>{{ user.username }}</p>
          </div>

        {% endfor %}
      </div>
  {% endwith %}
{% endblock content %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url 'like_image' %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ?
          'unlike' : 'like');
          // toggle link text
          $('a.like').text(previous_action == 'like' ? 'Unlike' :
          'Like');

          // update total likes
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'like' ?
          previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}